<!DOCTYPE html>
<html ng-app="surijanApp">

  <head>
  <meta charset="utf-8" />
  <title>JobTech: analytics</title>
  <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">	
  <link rel="stylesheet" href="style.css" />
	<script src="node_modules/angular/angular.js"></script>
	
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	
	<script src="node_modules/d3/d3.js"></script>
	<script src="node_modules/nvd3/build/nv.d3.js"></script>
	<script src="node_modules/angular-nvd3/dist/angular-nvd3.js"></script>
	<link rel="stylesheet" href="node_modules/nvd3/build/nv.d3.css">
  <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/images/jobtech-analytic-logo.png" height="15" width="auto" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-href='#' ng-click='pieChart()'>pieChart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-href='#' ng-click='multiBarHorizontalChart()'>multiBarHorizontalChart</a>
            </li>			
          </ul>
        </div>
      </div>
    </nav>
    
		<nvd3 options="options" data="data"></nvd3>

  </body>

</html>